/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
    padding: 0;
    margin:0;
}
body {
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.header {
    height: 95vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom,#7ed56f9f,#55c571ab), url("../img/hero.jpg");
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}
.logo-box {
    position:absolute;
    top: 5%;
    left: 3%;
}
.logo {
    height: 35px;
}
.heading-primary{
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: main;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes main {
    from { margin-left: -70px;opacity: 0}
    to { margin-left: 0px;opacity: 1;}
}
.heading-primary-sub{
    display:block;
    font-size: 20px;
    letter-spacing: 17px;
    font-weight: 400;
    animation-name: sub;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes sub {
    from { margin-left: 70px;opacity: 0;}
    to { margin-left: 0px;opacity: 1;}
}

