/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
    padding: 0;
    margin:0;
}
body {
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
.header {
    height: 95vh;
    background-size: cover;
    background-image: linear-gradient(to right bottom,#7ed56f9f,#55c571ab), url("../img/hero.jpg");
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    overflow: hidden;
}
.logo-box {
    position:absolute;
    top: 5%;
    left: 3%;
}
.logo {
    height: 35px;
}

@keyframes moveLogo {
    0% {transform: translateX(50px);opacity: 0;}
    100% { transform: translate(0);opacity: 1;}
}

.heading-primary{
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes moveInLeft {
   0% { opacity: 0;transform: translateX(-100px)}
   80% { opacity: 0,9;transform: translateX(20px)}
   100%{ opacity: 1;transform: translate(0)}
}
.heading-primary-sub{
    display:block;
    font-size: 20px;
    letter-spacing: 17px;
    font-weight: 400;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes moveInRight {
    0% {opacity: 0;transform: translateX(100px)}
    80% {opacity: 0,9;transform: translateX(-20px)}
    100% {opacity: 1;transform: translate(0)}
}


.btn {
    background-color: white;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    color:gray;
    border-radius: 30px;
    margin-top: 60px;
    transition: 0.3s;
    position: relative;
}
.btn:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 3px 8px 3px rgba(37, 37, 37, 0.24);
}
.btn:active {
    transform: translateY(3px);
    transition: 0.2s;
    box-shadow: none;
}
.btn::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 30px;
    z-index: -1;
    transition: 0.3s;
}
.btn:hover::after{
    transform: scale(1.5);
    transition: 0.3s;
    opacity: 0;
}
.menu {
    position: absolute;
    right: 10%;
    top: 5%;
    cursor: pointer;
    z-index: 3;
}
.menu i {
    font-size: 25px;
    color: white;
}

.background-layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom,#7ed56f,#55c571);
    left: -100%;
    transition: 0.5s;
}
.background-layer-add {
    left: 0%;
    transition: 0.5s;
}
.background-menu {
    position: absolute;
    top: 30%;
    left: 40%;

}